@font-face {
    font-family: "Karla";
    src: url("../../static/fonts/karla/Karla-Regular.ttf");
}

@font-face {
    font-family: "KarlaBold";
    src: url("../../static/fonts/karla/Karla-Bold.ttf");
}

@font-face {
    font-family: "Rubik";
    src: url("../../static/fonts/rubik/Rubik-Regular.ttf");
}

@font-face {
    font-family: "RubikBold";
    src: url("../../static/fonts/rubik/Rubik-Bold.ttf");
}

@font-face {
    font-family: "RubikLight";
    src: url("../../static/fonts/rubik/Rubik-Light.ttf");
}

@font-face {
    font-family: "RubikBlack";
    src: url("../../static/fonts/rubik/Rubik-Black.ttf");
}