@import '../../styles/globals/colors.scss';

.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 0 5%;

    .heroHeader {
        line-height: 1.2;
        
        h1, .role {
            color: $PRIMARY;
        }

        .intro {
            font-size: 1.5em;

            .role {
                font-family: KarlaBold;
            }
        }
    }


    hr {
        align-self: center;
        padding: 0;
        margin: 3% 0;
        width: 90%
    }

    .social {
        align-self: center;
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s ease;

            img {
                width: 3em;
            }    

            &:hover {
                transform: scale(1.1);

                img {
                    filter: invert(60%) sepia(11%) saturate(3223%) hue-rotate(165deg) brightness(82%) contrast(86%);
                }
            }
        }
    }
}